.btn-links {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.btn-group > button {
  margin: 20px;
  border-radius: 10px;
  padding: 5px 25px;
}
.navbar {
  background-color: #94daff;
}

.nav-link {
  color: #1098ad;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.like-button {
  position: relative;
}

.like-button img {
  display: block;
  height: 400px;
}

.like-button > button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: black;
}

.like-button > button:hover {
  background-color: red;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.card-body > h4 {
  border-bottom: 1px dotted grey;
}

.card {
  margin-bottom: 20px;
}
