/* Global CSS */
* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* Navbar Section */
.navbar {
    background-image: url("../images/header-background.jpg");
}

.navbar-brand {
    text-align: center;
    font-size: 3rem;
}

.navbar-nav li, .navbar-nav span {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav i {
    padding: 10px;
    font-size: 1.8rem;
}

.offset-n40 {
    margin-left: -40px;
    margin-bottom: 5px;
}

.offset-n75 {
    margin-left: -75px;
}

/* Footer Section */
.footer-section {
    background-color: #94DAFF;
    opacity: 0.9;
}

.footer-section i {
    font-size: 1.8rem;
}

.footer-section .footer-logo {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}

.footer-section h4 {
    font-weight: 700;
}

.footer-section p {
    font-size: 1rem;
    font-weight: 700;
}