/* Global CSS */
* {
<<<<<<< HEAD
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
=======
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
>>>>>>> 8cc589bbdc81edc35c512cfdd05486dd0ef7e86b
}

/* Navbar Section */
.navbar {
<<<<<<< HEAD
  background-image: url("../images/header-background.jpg");
}

.navbar-brand {
  text-align: center;
  font-size: 3rem;
}

.navbar-nav li,
.navbar-nav span {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-nav i {
  padding: 10px;
  font-size: 2rem;
}

.offset-n40 {
  margin-left: -40px;
  margin-bottom: 5px;
}

.offset-n75 {
  margin-left: -75px;
=======
    background-image: url("../images/header-background.jpg");
}

.navbar-brand {
    text-align: center;
    font-size: 3rem;
}

.navbar-nav li, .navbar-nav span {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav i {
    padding: 10px;
    font-size: 2rem;
}

.offset-n40 {
    margin-left: -40px;
    margin-bottom: 5px;
}

.offset-n75 {
    margin-left: -75px;
>>>>>>> 8cc589bbdc81edc35c512cfdd05486dd0ef7e86b
}

/* Footer Section */
.footer-section {
<<<<<<< HEAD
  background-color: #94daff;
  opacity: 0.9;
}

.footer-section .footer-text p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.footer-section i {
  font-size: 1.3rem;
}
=======
    background-color: #94DAFF;
    opacity: 0.9;
}

.footer-section .footer-text p {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.footer-section i {
    font-size: 1.3rem;
}
>>>>>>> 8cc589bbdc81edc35c512cfdd05486dd0ef7e86b
