/* Header Section */
header {
    background-color: white;
    background-image: linear-gradient(to bottom, transparent, white), url("../images/header-background.jpg");
    background-size: cover;
    padding-top: 100px;
}

.header-con2 img {
    padding: 30px;
    background-color: none;
    border-radius: 50%;
    opacity: 70%;
}

/* Carousel Section */
.carousel img {
    max-height: 768px;
}

.card-img-top {
    height: 50vw;
    object-fit: cover;
}

.carousel .carousel-indicators button {
    background-color: #94DAFF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 10px;
  }

/* Koyok Section */


/* Sponsor Section */
.sponsor-section {
    background-image: linear-gradient(white, rgba(148, 218, 255, 0.9))
}